:root {
  --accent-color: #76aaf2;
  --accent-color-alt: #95c7fc;
  --animation-time: 0.3s;
}

body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: white;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
}

html:not(:hover) * {
  transition: none !important;
}

.slider {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #25282a;
  width: 50rem;
  padding: 3rem;
}

.slider__images {
  width: 100%;
  display: flex;
  margin-bottom: 1.2rem;
  overflow: hidden;
}

.slider__image {
  width: 100%;
  margin-left: -100%;
  transform: translateX(100%);
  transition: transform var(--animation-time);
}
.slider__image:first-child {
  margin-left: 0;
} 

.slider__description-and-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: 1.2rem;
  flex-grow: 1;
  display: none;
  opacity: 0;
  transition: opacity var(--animation-time);
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

input[type="radio"] {
  display: none;
}

.navigation__button {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  box-shadow: 0 0 0 1rem var(--accent-color) inset;
  transition: all var(--animation-time);
}

.navigation__button:hover {
  box-shadow: 0 0 0 1rem var(--accent-color-alt) inset;
}

#slide1:checked ~ .slider__description-and-navigation .navigation .navigation__button[for="slide1"],
#slide2:checked ~ .slider__description-and-navigation .navigation .navigation__button[for="slide2"],
#slide3:checked ~ .slider__description-and-navigation .navigation .navigation__button[for="slide3"],
#slide4:checked ~ .slider__description-and-navigation .navigation .navigation__button[for="slide4"] {
  box-shadow: 0 0 0 0.2rem var(--accent-color-alt) inset;
  cursor: auto;
}

#slide1:checked ~ .slider__description-and-navigation .description-container .description[data-type="slide1"],
#slide2:checked ~ .slider__description-and-navigation .description-container .description[data-type="slide2"],
#slide3:checked ~ .slider__description-and-navigation .description-container .description[data-type="slide3"],
#slide4:checked ~ .slider__description-and-navigation .description-container .description[data-type="slide4"] {
  display: flex;
  opacity: 1;
}

#slide1:checked ~ .slider__images .slider__image[data-type="slide1"],
#slide2:checked ~ .slider__images .slider__image[data-type="slide2"],
#slide3:checked ~ .slider__images .slider__image[data-type="slide3"],
#slide4:checked ~ .slider__images .slider__image[data-type="slide4"] {
  transform: translateX(0);
}